{% extends "base.html" %}
{% block content %}
<h2>Summary</h2>
<p><b>Total Income:</b> {{ summary.income }}</p>
<p><b>Total Expenses:</b> {{ summary.expenses }}</p>
<p><b>Balance:</b> {{ summary.balance }}</p>

<h2>Transactions</h2>
<table class="table table-striped">
  <tr>
    <th>ID</th><th>Type</th><th>Category</th><th>Amount</th><th>Date</th><th>Description</th><th>Action</th>
  </tr>
  {% for t in transactions %}
  <tr>
    <td>{{ t[0] }}</td>
    <td>{{ t[1] }}</td>
    <td>{{ t[2] }}</td>
    <td>{{ t[3] }}</td>
    <td>{{ t[4] }}</td>
    <td>{{ t[5] }}</td>
    <td><a class="btn btn-danger btn-sm" href="/delete/{{ t[0] }}">Delete</a></td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
